body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightblue;
}

h1 {
    margin: 25px;
    font-size: 3em;
    text-align: center;
}

form {
    width: 500px;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

p {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn {
    margin-top: 10px;
    padding: 3px 8px;
    cursor: pointer;
}